section{
  display: flex;
  justify-content: center;
  padding-top: 36px;
    
}
.earch-form{
  
}
.label-name {
 
}
.input-name {
  margin-right: 8px;
  width: 272px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 4px;
      border: 1px solid #808080;

}

.search-btn {
  
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: none;
      background: #4E75FF;
      cursor: pointer;

      color: #FFF;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.04em;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 24px;
  max-width: 1128px;
  list-style: none;

}

.gallery-item {

  width: calc((100% - 48px) / 3);
  position: relative;
  overflow: hidden;

}

.gallery-image {
  width: 360px;
  height: 200px;
  transition: transform 0.3s ease-in-out;

}

.gallery-link {
  display: block;
}

.gallery-image:hover {
  transform: scale(1.1);

}